<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="./css/styles.css">
    <title><%= title %></title>
</head>
<body>
<div class="content">
    <%- include("../partials/header.ejs"); %>
    <p>
        This site was created by <%= name %> while following an Andrew Mead tutorial. It uses the API's at
        mapbox.com and darksky.net
    </p>
    <img src="img/robot.png">
</div>
<%- include("../partials/footer.ejs"); %>