<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="./css/styles.css">
    <title><%= title %></title>
</head>
<body>
<div class="content">
    <%- include("../partials/header.ejs"); %>
    <img src="img/robot.png">
    <h2>
        <%= name %>
    </h2>
</div>
<%- include("../partials/footer.ejs"); %>