<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>
<body>
<main>
    <div class="chat">
        <div class="chat__sidebar">
            <div class="user-list-box">

            </div>
        </div>
        <div class="chat__main">
            <div id="messages" class="chat__messages">

            </div>
            <div class="compose">
                <form id="message-form">
                    <input type="text" name="message" placeholder="Message" required autocomplete="off">
                    <button type="submit" name="submit">Send</button>
                </form>
                <button id="share-location">Share Location</button>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
</body>
</html>