<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.min.css">
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>
<body>
<main>
    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join</h1>
            <form action="/chat" class="join-form">
                <label>Display Name</label>
                <input type="text" name="username" placeholder="Name" required>
                <label>Chat Room</label>
                <input type="text" name="room" placeholder="Room" required>
                <button type="submit">Join</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>