<div class="message">
    <p>
        <span class="message__name"><%= username %></span>
        <span class="message__meta"><%= createAt %></span>
    </p>
    <p><a target="_blank" href="<%= url %>">My current location</a></p>
</div>