<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<title>Thymeleaf Employee Directory</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/demo.css}" />
</head>
<body>
	<div class="container">
		<h3>Thymeleaf Employee Directory</h3>
		<hr>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="temp : ${employees}">
					<td th:text="${temp.firstName}" />
					<td th:text="${temp.lastName}" />
					<td th:text="${temp.email}" />
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>