<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">

<!-- Custom CSS -->
<link rel="stylesheet" th:href="@{/css/demo.css}" />

<title>Add Employee Form</title>
</head>
<body>
	<div class="container">
		<h3>Save Employee</h3>
		<hr>
		<form action="#" th:action="@{/employees/save}" th:object="${employee}" method="POST">
			<!-- Add hidden field to handle update -->
			<input type="hidden" th:field="*{id}" />
			<input type="text" th:field="*{firstName}" class="form-control mb-4 col-4" placeholder="First name"/>
			<input type="text" th:field="*{lastName}" class="form-control mb-4 col-4" placeholder="Last name"/>
			<input type="text" th:field="*{email}" class="form-control mb-4 col-4" placeholder="Email"/>
			<button type="submit" class="btn btn-info col-2">Save</button>
		</form>
		<hr>
		<a th:href="@{/employees/list}">Back to Employee List</a>
	</div>
</body>
</html>