/*
     Color Pallet___#Hex____ _Browser Prefixes_______
    |Main Color:    #2980b9 |   Android:    -webkit- |
    |Darker Color:  #206694 |   Chrome:     -webkit- |
    |Lighter Color: #5399c7 |   Firefox:    -moz-    |
    |Sudo Black:    #333333 |   IE:         -ms-     |
    |Dark Text:     #555555 |   iOS:        -webkit- |
    |Light Text:    #eeeeee |   Opera:      -o-      |
    |Off-White:     #fafafa |   Safari:     -webkit- |
     ----------------------- ------------------------
*/

/* ------------------------------------------------------------------- */
/* Basic Setup */
/* ------------------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {outline: none;}

html,
body {
    background-color: #fff;
    color:#555555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size:20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix { zoom: 1 }
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------------------------------------- */
/* Reusable Components */
/* ------------------------------------------------------------------- */
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* -----Headings----- */
h1, 
h2,
h3 { 
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* -----Paragraph----- */
.p-long {
    line-height: 145%;
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}

/* -----Icons----- */
.icon {
    color:#e67e22;
    text-align: center;
}

.icon-big {
    display: block;
    font-size: 350%;
    margin-bottom: 15px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    font-size: 120%;
    margin-right: 10px;
    
    
    /* Aligning text and icons */
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    
}

/* -----Links----- */
a:link,
a:visited {
    color:#e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;

}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/* -----Buttons----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 200px;
    color: #eee;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    margin-right: 15px;
}

.btn-empty:link,
.btn-empty:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active 
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
    border: 1px solid #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-empty:hover,
.btn-empty:active {
    color: #eee;
    border: 1px solid #cf6d17;
}

/* ------------------------------------------------------------------- */
/* Reusable Components */
/* ------------------------------------------------------------------- */

header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* -----Top Nav----- */

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited,
.scroll-to-top a:link,
.scroll-to-top a:visited {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
    
}

.main-nav li a:hover,
.main-nav li a:active,
.scroll-to-top a:active,
.scroll-to-top a:hover {
    border-bottom: 2px solid #e67e22
}

/* -----Sticky Nav----- */

.sticky {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #ccc;
}

.sticky .main-nav { 
    margin-top: 15px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #555;
    padding: 8px 0;
}

.sticky .logo { display: none; }

.sticky .logo-black { display: block; }


/* -----Hamburger Nav----- */
.hamburger-nav {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.hamburger-nav {
    font-size: 200%;
    color: #fff;
}

/* -----back to top----- */
.scroll-to-top {
    z-index: 9999;
    position: fixed;
    bottom: 25px; 
    right: 50px;
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding-top: 10px;
        
}

/* ------------------------------------------------------------------- */
/* Features */
/* ------------------------------------------------------------------- */

.section-features .p-long { margin-bottom: 30px; }

/* ------------------------------------------------------------------- */
/* Gallery */
/* ------------------------------------------------------------------- */

.section-gallery { padding: 0; }

.showcase {
    list-style: none;
    width: 100%;
}

.showcase li {
    display: block;
    float: left;
    width: 25%;
}

.gallery-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.gallery-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
    opacity: 0.7;
    
}

.gallery-photo figcaption {
    display:none;
    color: #eee;
    text-align: center;
    padding-bottom: 5px
}

.gallery-photo img:hover {
    transform: scale(1.05);
    opacity: 1;
}

/* ------------------------------------------------------------------- */
/* Process */
/* ------------------------------------------------------------------- */

.section-process {
    background-color: #fafafa;
}

.step-box:first-child {
    margin-top: 30px;
    text-align: right;
    padding-right: 3%;
}

.step-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.process-image {
    width: 40%;
}

.step {
    margin-bottom: 50px;
}

.step:last-of-type {
    margin-bottom: 80px;
}

.step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display:inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 5px;
}

/* ------------------------------------------------------------------- */
/* Locations */
/* ------------------------------------------------------------------- */

.location img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    
}

.location-feature {
    margin-bottom: 5px;
}

/* ------------------------------------------------------------------- */
/* Testimonials */
/* ------------------------------------------------------------------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    display: block;
    font-size: 90%;
    margin-top: 25px;
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------------------------------------- */
/* Plans */
/* ------------------------------------------------------------------- */


.section-plans {
    background-color: #fafafa;    
}

.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;    
}

.plan-box div {
    padding:15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price {
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: #e67e22;
}

.plan-price span {
    font-size: 33%;
    font-weight: 300;
}

.plan-per {
    font-size: 80%;
}

.plan-details ul {
    list-style: none;
}

.plan-details ul li {
    padding: 5px 0;
    
}

.plan-button { text-align: center; }

/* ------------------------------------------------------------------- */
/* Contact */
/* ------------------------------------------------------------------- */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

/* ------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------- */

footer {
    background-color: #333;
    padding-top: 35px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited { 
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}
.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

.copyright{
    color: #888;
    text-align: center;
    font-size: 65%;
    margin-top: 25px;
    margin-bottom: 10px;
}





